/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    height: auto;
    margin: auto;
}
   
/* header */

#logoimg{
    padding-right: 20px;
    border-right: 1px solid lightgrey;
    width: 25%;
  
}

.menu li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    color: grey;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* main */

/* main parte alta */

.main-alto{
    margin-top: 15px;
    background-image:url(../img/banner.jpg);
    background-size: contain;
    height: auto;
    border-radius:3%;
    background-position: center;
    margin-bottom: 20px ;
    
}
   

.p-img{
    padding-left: 5%;
    padding-top:30%;
    padding-bottom: 5%;
    text-align: justify;
    color: rgb(253, 54, 177);
    
    } 

    #big{
        font-size: 25px;
    }
   

  /* main parte bassa    */

.main-basso{
    height: auto;
    margin-bottom: 10px;
}

.main-basso:not(.titoloh2){
    color: lightgrey;
}

.titolo{
    height: auto;
    margin-bottom: 10px;
    
}
.colonne{
    background-color: violet;
    margin-bottom: 10px;
}

.colonne::after{
    content:"";
    display: table;
    clear: both;
}

.aside-sx{
    float: left;
    width: 20%;
    
}
#img-sx{
    background-image: url(../img/img-1.jpg);
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 200px;
    border-radius: 3%;
    
}

.central{
    float: left;
    width: 58%;
    
    margin-left: 1%;
    margin right: 1%;
}
#img-central{
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 200px;
    border-radius: 3%;

}
  
.aside-dx{
    float: right;
    width: 20%;
    
}

#img-dx{
    background-image: url(../img/img-3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 3%;
    background-color: violet transparent;
}


h4{
    margin-top: 10px;
    margin-bottom: 10px;

}


/* footer */
footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}



    

        



      

   

  


    