/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 800px;
    height: auto;
    margin: auto;
}
   

/* debug - sezione da eliminare */





/* header */

#logoimg{
    padding-right: 20px;
    border-right: 1px solid lightgrey;
    width: 25%;
  
}

.menu li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    color: grey;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* main */

/* main parte alta */

.main-alto{
    margin-top: 15px;
    background-image:url(../img/banner.jpg);
    background-size: contain;
    height: auto;
    border-radius:3%;
    background-position: center;
}
   

.p-img{
    padding-left: 5%;
    padding-top:30%;
    padding-bottom: 5%;
    text-align: justify;
    color: rgb(253, 54, 177);
    
    } 

    #big{
        font-size: 25px;
    }
   
    

        



      

   

  


    